	.category-container {
		color: black;
		text-align: center;
		border-radius: 10px;
		margin: 0em 0em 0.4em 8em;
	}

	  	.category-container p {
			margin: 0em 0em 0em 0em;
			padding: 1em 0em 1em 0em;
		}

		.category-container.first {
			margin-top: 12em;
		}



	.question-container {
		color: black;
		text-align: center;
		border-radius: 10px;
		margin: 12em 0em 0.4em 4em;
		font-style: italic;
		background-color: white;
	}
		.question-container p {
			margin: 0em 0em 0em 0em;
			padding: 3.1em 0em 3.1em 0em;
		}

		

	.answer-container {
		color: black;
		text-align: center;
		border-radius: 10px;
		margin: 0em 8em 0.4em 12em;
		background-color: white;
	}
		.answer-container p {
			margin: 0em 0em 0em 0em;
			padding: 1em 0em 1em 0em;
		}