@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");


	body, h1, h2, h3, h4, h5, h6, li, ul {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

    ol, ul {
        list-style: none;
    }




/* Grid */

	* {
		border-bottom: solid 1px transparent;
		box-sizing: border-box;
	}


	.row:after, .row:before {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}

	.column {
	    float: left;
	}

		.column.col-1 {width: 8.33%;}
		.column.col-2 {width: 16.66%;}
		.column.col-3 {width: 25%;}
		.column.col-4 {width: 33.33%;}
		.column.col-5 {width: 41.66%;}
		.column.col-6 {width: 50%;}
		.column.col-7 {width: 58.33%;}
		.column.col-8 {width: 66.66%;}
		.column.col-9 {width: 75%;}
		.column.col-10 {width: 83.33%;}
		.column.col-11 {width: 91.66%;}
		.column.col-12 {width: 100%;}

/**********/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}


/***********/


/* Basic */

	body {
		color: #7c8081;
		font-family: 'Lato', sans-serif;
		font-size: 13pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.65em;
	}

		body.background-color-white {
			background-color: #f3f6fa;
		}

		body.background-color-blue {
			background-color: #02CEFF;
		}

	a {
		color: #3fb1a3;
		text-decoration: none;
		border-bottom: dotted 1px;
	}

		a:hover {
			border-bottom-color: transparent;
		}


	p, ul, ol, table {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 300;
		line-height: 1.5em;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
			border: 0;
		}

	h2 {
		font-size: 1.5em;
		letter-spacing: 0.1em;
	}

	h3 {
		font-size: 1.15em;
		letter-spacing: 0.025em;
	}




/* Image */

	.image img {
		border: 0;
		position: relative;
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
  
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;

}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* Icon */

	.icon {
		text-decoration: none;
		/*position: relative;*/
	}

		.icon.circle {
			transition: all 0.2s ease-in-out;
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
            width: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
		}

			.icon.circle:hover {
				top: -0.2em;
			}

			.icon.circle.one {
				background: #70aecd;
				color: #fff;
			}

				.icon.circle.one:hover {
					background: #7fb7d2;
				}

			.icon.circle.two {
				background: #7490c3;
				color: #fff;
			}

				.icon.circle.two:hover {
					background: #829bc9;
				}

			.icon.circle.three {
				background: #db6b67;
				color: #fff;
			}

				.icon.circle.three:hover {
					background: #df7b77;
				}

			.icon.circle.four {
				background: #dcad8b;
				color: #fff;
			}

				.icon.circle.four:hover {
					background: #e1b89b;
				}

			.icon.circle.five {
				background: #da83ae;
				color: #fff;
			}

				.icon.circle.five:hover {
					background: #df93b8;
				}

		.icon > .label {
			display: none;
		}






/* List */

	ul.default {
		list-style-type: none;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.icons {
		cursor: default;
		text-align: center;
		margin: 0.2em 0em 0.2em 0em;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding-left: 0.5em;
			margin: 0.5em 0.2em 0.5em 0.2em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

	ul.featured-icons {
		cursor: default;
		margin: -0.75em 0 0 0;
		opacity: 0.35;
		overflow: hidden;
		position: relative;
	}

		ul.featured-icons li {
			display: block;
			float: left;
			text-align: center;
			width: 50%;
		}

			ul.featured-icons li .icon {
				display: inline-block;
				font-size: 6.25em;
				height: 1.25em;
				line-height: 1.25em;
				width: 1em;
			}

	ul h2 {
			color: inherit;
			text-decoration: none;
			border: 0;
			text-transform: capitalize;

	}

	ul.buttons {
		cursor: default;
	}

		ul.buttons:last-child {
			margin-bottom: 0;
		}

		ul.buttons li {
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.buttons li:first-child {
				padding: 0;
			}

		ul.buttons.vertical li {
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.buttons.vertical li:first-child {
				padding: 0;
			}




/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	.button {
		background: none;
		border: solid 1px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		min-width: 18em;
		padding: 0 0.75em;
		line-height: 3.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		.button:hover {
			background: rgba(188, 202, 206, 0.15);
			border-color: inherit;
		}

		input[type="button"].special,
		input[type="submit"].special,
		input[type="reset"].special,
		.button.special {
			background: #83d3c9;
			border-color: #83d3c9;
			color: #fff !important;
		}

			input[type="button"].special:hover,
			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			.button.special:hover {
				background: #96dad1 !important;
				border-color: #96dad1 !important;
			}

		input[type="button"].fit,
		input[type="submit"].fit,
		input[type="reset"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="button"].small,
		input[type="submit"].small,
		input[type="reset"].small,
		.button.small {
			font-size: 0.7em;
			min-width: 14em;
			padding: 0.5em 0;
		}


        .buttonPointer {
            cursor: pointer;
        }

		/*BUTTON BOOTSTRAP*/
		.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}




/* Header */
	#header {
		background: #fff;
		font-size: 0.8em;
		padding: 1em 1.5em;
		position: fixed;
		width: 100%;
		z-index: 10000;
		box-shadow: 0px 2px 5px #000;
	}

		#header h1 {
			font-weight: 900;
			margin: 0;
		}

			#header h1 span {
				font-weight: 300;
			}

		#header nav {
			letter-spacing: 0.075em;
			font-weight: 900;
			position: absolute;
			right: 1.5em;
			top: 0.75em;
		}

			#header nav ul li {
				display: inline-block;
				margin-left: 1em;
			}

				#header nav ul li a {
					border: solid 1px transparent;
					color: inherit;
					line-height: 1em;
					padding: 0.6em 0.75em;
				}

				#header nav ul li input[type="button"],
				#header nav ul li input[type="submit"],
				#header nav ul li input[type="reset"],
				#header nav ul li .button {
					font-size: 1em;
					min-width: 0;
					width: auto;
				}

                #header nav ul li.submenu > a {
                    text-decoration: none;
                }

                    #header nav ul li.submenu > a:before {
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-transform: none !important;
                    }

                    #header nav ul li.submenu > a:before {
                        content: '\f107';
                        margin-right: 0.65em;
                    }

				#header nav ul li.active > a, #header nav ul li:hover > a {
					background: rgba(0, 202, 206, 0.15);
				}

				#header nav ul li.current > a {
					font-weight: 900;
				}

		#header.alt {
			background: transparent;
			color: #fff;
			padding: 2em 2.5em;
			position: absolute;
		}

			#header.alt nav {
				right: 2.5em;
				top: 1.75em;
			}

				#header.alt nav ul li.active > a, #header.alt nav ul li:hover > a {
					border: solid 1px;
				}



/* Dropotron */

  .dropotron {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    line-height: 2.25em;
    min-width: 13em;
    padding: 1em 0;
    text-transform: uppercase;
    margin-top: calc(-1em + 1px);
  }

    .dropotron.level-0 {
      font-size: 0.7em;
      font-weight: 400;
      margin-top: 1.5em;
    }

      .dropotron.level-0:before {
        border-bottom: solid 0.5em #fff;
        border-left: solid 0.5em transparent;
        border-right: solid 0.5em transparent;
        content: '';
        left: 0.75em;
        position: absolute;
        top: -0.45em;
      }

    .dropotron > li {
      border-top: solid 1px rgba(124, 128, 129, 0.2);
    }

      .dropotron > li > a {
        -moz-transition: none;
        -webkit-transition: none;
        -ms-transition: none;
        transition: none;
        color: inherit;
        text-decoration: none;
        padding: 0 1em;
        border: 0;
      }

      .dropotron > li:hover > a {
        background: #83d3c9;
        color: #fff;
      }

      .dropotron > li:first-child {
        border-top: 0;
      }




/* Narrower */

  #navPanel, #navButton {
    display: none;
  }


/* Banner */
	.banner {
        min-height: 55vw;
        padding-top: 40px;
        text-align: center;
	}

    .bgCircle {
        border-radius: 100%;
        position: absolute; 
    }

        .banner .bgCircle-home-a {
            background: #3bf7d1;
            background: linear-gradient(45deg, #3bf7d1 0%, #02CEFF 100%);
            z-index: -1;
            height: 700px;
            width: 700px;
            left: 50%;
            top: -50px;
            -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        }

        .banner .bgCircle-home-b {
            background: #a177ff;
            background: linear-gradient(55deg, #a177ff 0%, #02CEFF 100%);
            background-position: top right;
            z-index: -2;
            top: 300px;
            height: 265px;
            width: 265px;
            left: 22%;
            -webkit-transform: translateX(-70%);
                transform: translateX(-70%);
        }

        .banner .bgCircle-home-c {
            background: #FC636B;
            background: linear-gradient(205deg, #FC636B 0%, #FF6D92 60%, #ffb900 100%);
            z-index: -2; 
            top: -50px;
            height: 340px;
            width: 340px;
            left: 78%;
            -webkit-transform: translateX(-30%);
                transform: translateX(-30%);
        }



/* Wrapper */
	.wrapper {
	}

		.wrapper.style1 {
			background: #02CEFF;
			color: #fff;
			padding: 4em 3em;
			text-align: center;
		}

		.wrapper.style2 {
			background-color: #83d3c9;
			color: #fff;
			background-size: 25em, 25em;
			margin: 5em;
			padding: 4em 3em;
		}

			.wrapper.style2 .button:hover {
				background: rgba(255, 255, 255, 0.15);
			}

		.wrapper.style3 {
			background: #fff;
			color: inherit;
			margin: 5em;
			padding: 4em 3em;
			text-align: center;
		}

		.wrapper.style4 {
			background: #fff;
			color: inherit;
			margin: 5em 10em 5em 10em;
			text-align: center;
			border-radius: 10px;
		}

			.wrapper.style4.first{
				margin: 3em 10em 5em 10em;
			}



/* Container */
	.container{
		background: #fff;
	}

        .container.blue {
            background: #02CEFF;
        }

	.container-login {
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
	@media (min-width: 768px) {
	  .container-login {
	    width: 750px;
	  }
	}
	@media (min-width: 992px) {
	  .container-login {
	    width: 970px;
	  }
	}
	@media (min-width: 1200px) {
	  .container-login {
	    width: 1170px;
	  }
	}

    .container-level {
        color: inherit;
        margin: 3em 28em 0em 28em;
        border-radius: 10px;
    }

        .container-level h3 {
            color: black;
            padding: 2.5em 0em 2.5em 0.6em;
        }

        .container-level.stats {
            border:solid;
            border-color: #000000;  
            background: white;          
        }

        .container-level.userPage {
            border: solid;
            border-color: #fff;  
            background: orange;          
        }

    .level-image {
        padding: 0.7em 1em 0.7em 2.5em;
    }

        .level-image img {
            width: 6em;
            height: 6em;         
        }


    .container-bestUsers {
        background: orange;  
    }

        .container-bestUsers.first {
            margin: 0.5em 13em 0em 13em;
        }

        .container-bestUsers.second {
            margin: 0.5em 1em 0em 1.4em;
        }

        .container-bestUsers.third {
            margin: 0.5em 1.4em 0em 1em;
        }

        .container-bestUsers h3 {
            color: black;
            padding: 0em 0em 0em 0em;
        }

        .container-bestUsers .level {
            padding-top: 1em;
            padding-left: 0.5em;
        }

        .user-image {
            padding-left: 1.5em;
            padding-top: 0.3em;
        }

            .user-image img {
                border: 2px solid #02CEFF;
                margin: 0;
                padding: 0;
                border-radius: 800px;
                overflow: hidden;
                width: 8em;
                height: 7em;
            }



	/* PANEL */

	.panel {
	  margin-bottom: 20px;
	  background-color: #fff;
	  border: 1px solid transparent;
	  border-radius: 4px;
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}
	.panel-body {
	  padding: 15px;
	}
	.panel-heading {
	  padding: 10px 15px;
	  border-bottom: 1px solid transparent;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	}
	.panel-heading > .dropdown .dropdown-toggle {
	  color: inherit;
	}
	.panel-title {
	  margin-top: 0;
	  margin-bottom: 0;
	  font-size: 16px;
	  color: inherit;
	}
	.panel-title > a,
	.panel-title > small,
	.panel-title > .small,
	.panel-title > small > a,
	.panel-title > .small > a {
	  color: inherit;
	}
	.panel-footer {
	  padding: 10px 15px;
	  background-color: #f5f5f5;
	  border-top: 1px solid #ddd;
	  border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;
    text-align: center;
	}
	.panel > .list-group,
	.panel > .panel-collapse > .list-group {
	  margin-bottom: 0;
	}
	.panel > .list-group .list-group-item,
	.panel > .panel-collapse > .list-group .list-group-item {
	  border-width: 1px 0;
	  border-radius: 0;
	}
	.panel > .list-group:first-child .list-group-item:first-child,
	.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
	  border-top: 0;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	}
	.panel > .list-group:last-child .list-group-item:last-child,
	.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
	  border-bottom: 0;
	  border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;
	}
	.panel-heading + .list-group .list-group-item:first-child {
	  border-top-width: 0;
	}
	.list-group + .panel-footer {
	  border-top-width: 0;
	}
	.panel > .table,
	.panel > .table-responsive > .table,
	.panel > .panel-collapse > .table {
	  margin-bottom: 0;
	}
	.panel > .table caption,
	.panel > .table-responsive > .table caption,
	.panel > .panel-collapse > .table caption {
	  padding-right: 15px;
	  padding-left: 15px;
	}
	.panel > .table:first-child,
	.panel > .table-responsive:first-child > .table:first-child {
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	}
	.panel > .table:first-child > thead:first-child > tr:first-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	}
	.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
	.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
	  border-top-left-radius: 3px;
	}
	.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
	.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
	  border-top-right-radius: 3px;
	}
	.panel > .table:last-child,
	.panel > .table-responsive:last-child > .table:last-child {
	  border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;
	}
	.panel > .table:last-child > tbody:last-child > tr:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
	  border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;
	}
	.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
	.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
	  border-bottom-left-radius: 3px;
	}
	.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
	.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
	  border-bottom-right-radius: 3px;
	}
	.panel > .panel-body + .table,
	.panel > .panel-body + .table-responsive,
	.panel > .table + .panel-body,
	.panel > .table-responsive + .panel-body {
	  border-top: 1px solid #ddd;
	}
	.panel > .table > tbody:first-child > tr:first-child th,
	.panel > .table > tbody:first-child > tr:first-child td {
	  border-top: 0;
	}
	.panel > .table-bordered,
	.panel > .table-responsive > .table-bordered {
	  border: 0;
	}
	.panel > .table-bordered > thead > tr > th:first-child,
	.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
	.panel > .table-bordered > tbody > tr > th:first-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
	.panel > .table-bordered > tfoot > tr > th:first-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
	.panel > .table-bordered > thead > tr > td:first-child,
	.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
	.panel > .table-bordered > tbody > tr > td:first-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
	.panel > .table-bordered > tfoot > tr > td:first-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
	  border-left: 0;
	}
	.panel > .table-bordered > thead > tr > th:last-child,
	.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
	.panel > .table-bordered > tbody > tr > th:last-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
	.panel > .table-bordered > tfoot > tr > th:last-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
	.panel > .table-bordered > thead > tr > td:last-child,
	.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
	.panel > .table-bordered > tbody > tr > td:last-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
	.panel > .table-bordered > tfoot > tr > td:last-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
	  border-right: 0;
	}
	.panel > .table-bordered > thead > tr:first-child > td,
	.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
	.panel > .table-bordered > tbody > tr:first-child > td,
	.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
	.panel > .table-bordered > thead > tr:first-child > th,
	.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
	.panel > .table-bordered > tbody > tr:first-child > th,
	.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
	  border-bottom: 0;
	}
	.panel > .table-bordered > tbody > tr:last-child > td,
	.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
	.panel > .table-bordered > tfoot > tr:last-child > td,
	.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
	.panel > .table-bordered > tbody > tr:last-child > th,
	.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
	.panel > .table-bordered > tfoot > tr:last-child > th,
	.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
	  border-bottom: 0;
	}
	.panel > .table-responsive {
	  margin-bottom: 0;
	  border: 0;
	}
	.panel-group {
	  margin-bottom: 20px;
	}
	.panel-group .panel {
	  margin-bottom: 0;
	  border-radius: 4px;
	}
	.panel-group .panel + .panel {
	  margin-top: 5px;
	}
	.panel-group .panel-heading {
	  border-bottom: 0;
	}
	.panel-group .panel-heading + .panel-collapse > .panel-body,
	.panel-group .panel-heading + .panel-collapse > .list-group {
	  border-top: 1px solid #ddd;
	}
	.panel-group .panel-footer {
	  border-top: 0;
	}
	.panel-group .panel-footer + .panel-collapse .panel-body {
	  border-bottom: 1px solid #ddd;
	}
	.panel-default {
	  border-color: #ddd;
	}
	.panel-default > .panel-heading {
	  color: #333;
	  background-color: #f5f5f5;
	  border-color: #ddd;
	}
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
	  border-top-color: #ddd;
	}
	.panel-default > .panel-heading .badge {
	  color: #f5f5f5;
	  background-color: #333;
	}
	.panel-default > .panel-footer + .panel-collapse > .panel-body {
	  border-bottom-color: #ddd;
	}
	.panel-primary {
	  border-color: #337ab7;
	}
	.panel-primary > .panel-heading {
	  color: #fff;
	  background-color: #337ab7;
	  border-color: #337ab7;
	}
	.panel-primary > .panel-heading + .panel-collapse > .panel-body {
	  border-top-color: #337ab7;
	}
	.panel-primary > .panel-heading .badge {
	  color: #337ab7;
	  background-color: #fff;
	}
	.panel-primary > .panel-footer + .panel-collapse > .panel-body {
	  border-bottom-color: #337ab7;
	}
	.panel-success {
	  border-color: #d6e9c6;
	}
	.panel-success > .panel-heading {
	  color: #3c763d;
	  background-color: #dff0d8;
	  border-color: #d6e9c6;
	}
	.panel-success > .panel-heading + .panel-collapse > .panel-body {
	  border-top-color: #d6e9c6;
	}
	.panel-success > .panel-heading .badge {
	  color: #dff0d8;
	  background-color: #3c763d;
	}
	.panel-success > .panel-footer + .panel-collapse > .panel-body {
	  border-bottom-color: #d6e9c6;
	}
	.panel-info {
	  border-color: #bce8f1;
	}
	.panel-info > .panel-heading {
	  color: #31708f;
	  background-color: #d9edf7;
	  border-color: #bce8f1;
	}
	.panel-info > .panel-heading + .panel-collapse > .panel-body {
	  border-top-color: #bce8f1;
	}
	.panel-info > .panel-heading .badge {
	  color: #d9edf7;
	  background-color: #31708f;
	}
	.panel-info > .panel-footer + .panel-collapse > .panel-body {
	  border-bottom-color: #bce8f1;
	}
	.panel-warning {
	  border-color: #faebcc;
	}
	.panel-warning > .panel-heading {
	  color: #8a6d3b;
	  background-color: #fcf8e3;
	  border-color: #faebcc;
	}
	.panel-warning > .panel-heading + .panel-collapse > .panel-body {
	  border-top-color: #faebcc;
	}
	.panel-warning > .panel-heading .badge {
	  color: #fcf8e3;
	  background-color: #8a6d3b;
	}
	.panel-warning > .panel-footer + .panel-collapse > .panel-body {
	  border-bottom-color: #faebcc;
	}
	.panel-danger {
	  border-color: #ebccd1;
	}
	.panel-danger > .panel-heading {
	  color: #a94442;
	  background-color: #f2dede;
	  border-color: #ebccd1;
	}
	.panel-danger > .panel-heading + .panel-collapse > .panel-body {
	  border-top-color: #ebccd1;
	}
	.panel-danger > .panel-heading .badge {
	  color: #f2dede;
	  background-color: #a94442;
	}
	.panel-danger > .panel-footer + .panel-collapse > .panel-body {
	  border-bottom-color: #ebccd1;
	}



/* Footer */
	#footer {
		text-align: center;
		background-color: #2E3C54;
		padding-top: 2em;
		line-height: 1.5em;
	}

		#footer .title {
			color: #fff;
			text-transform: uppercase;
			font-size: 0.8em;
		}

		#footer .item {
			color: #A1A4AA;
            text-decoration: none; 
		}

		/* FORM GROUP */

		.form-group {
		  margin-bottom: 15px;
		}

		/* FORM CONTROL*/

		.form-control {
		  display: block;
		  width: 100%;
		  height: 34px;
		  padding: 6px 12px;
		  font-size: 14px;
		  line-height: 1.42857143;
		  color: #555;
		  background-color: #fff;
		  background-image: none;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		.form-control:focus {
		  border-color: #66afe9;
		  outline: 0;
		  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		}
		.form-control::-moz-placeholder {
		  color: #999;
		  opacity: 1;
		}
		.form-control:-ms-input-placeholder {
		  color: #999;
		}
		.form-control::-webkit-input-placeholder {
		  color: #999;
		}
		.form-control[disabled],
		.form-control[readonly],
		fieldset[disabled] .form-control {
		  background-color: #eee;
		  opacity: 1;
		}
		.form-control[disabled],
		fieldset[disabled] .form-control {
		  cursor: not-allowed;
		}
		textarea.form-control {
		  height: auto;
		}
		input[type="search"] {
		  -webkit-appearance: none;
		}
		@media screen and (-webkit-min-device-pixel-ratio: 0) {
		  input[type="date"],
		  input[type="time"],
		  input[type="datetime-local"],
		  input[type="month"] {
		    line-height: 34px;
		  }
		  input[type="date"].input-sm,
		  input[type="time"].input-sm,
		  input[type="datetime-local"].input-sm,
		  input[type="month"].input-sm,
		  .input-group-sm input[type="date"],
		  .input-group-sm input[type="time"],
		  .input-group-sm input[type="datetime-local"],
		  .input-group-sm input[type="month"] {
		    line-height: 30px;
		  }
		  input[type="date"].input-lg,
		  input[type="time"].input-lg,
		  input[type="datetime-local"].input-lg,
		  input[type="month"].input-lg,
		  .input-group-lg input[type="date"],
		  .input-group-lg input[type="time"],
		  .input-group-lg input[type="datetime-local"],
		  .input-group-lg input[type="month"] {
		    line-height: 46px;
		  }
		}

    /*ALERTS*/

    .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

    /* TEXT-ALIGN*/
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
    .text-justify {
      text-align: justify;
    }
